// 栅格化
$screen-xs-max: 768px; // 超小屏幕 手机

$screen-sm-min: 768px; // 平板
$screen-sm-max: 992px; 

$screen-md-min: 992px; // 中等屏幕
$screen-md-max: 1200px;

$screen-lg-min: 1200px; // 大屏幕

$col-1: 100% / 12;
$col-2: 100% / 6;
$col-3: 100% / 4;
$col-4: 100% / 3;
$col-6: 100% / 2;
$col-8: $col-4 *2;

@media (max-width: $screen-xs-max) {
  .col-xs-1 {
    width: $col-1
  }
  .col-xs-2 {
    width: $col-2
  }
  .col-xs-3 {
    width: $col-3
  }
  .col-xs-4 {
    width: $col-4
  }
  .col-xs-6 {
    width: $col-6
  }
  .col-xs-8 {
    width: $col-8
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .col-sm-1 {
    width: $col-1
  }
  .col-sm-2 {
    width: $col-2
  }
  .col-sm-3 {
    width: $col-3
  }
  .col-sm-4 {
    width: $col-4
  }
  .col-sm-6 {
    width: $col-6
  }
  .col-sm-8 {
    width: $col-8
  }
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .col-md-1 {
    width: $col-1
  }
  .col-md-2 {
    width: $col-2
  }
  .col-md-3 {
    width: $col-3
  }
  .col-md-4 {
    width: $col-4
  }
  .col-md-6 {
    width: $col-6
  }
  .col-md-8 {
    width: $col-8
  }
}
@media (min-width: $screen-lg-min) {
  .col-lg-1 {
    width: $col-1
  }
  .col-lg-2 {
    width: $col-2
  }
  .col-lg-3 {
    width: $col-3
  }
  .col-lg-4 {
    width: $col-4
  }
  .col-lg-6 {
    width: $col-6
  }
  .col-lg-8 {
    width: $col-8
  }
}





